<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{border: 1px solid black}
        table tr {border: 1px solid black}
        table tr td{border: 1px solid black}
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>목록</h1>
    <a href="#" id="home">홈으로</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">글번호</th>
                <th class="text-center">제목</th>
                <th class="text-center">글쓴이</th>
                <th class="text-center">작성일</th>
                <th class="text-center">조회수</th>
                <th class="text-center">게시글번호</th>
            </tr>
        </thead>
        <tbody id="tb">
            
        </tbody>
    </table>

   
</body>
<script>
    $('#home').click(e=>{location.href = "/"})
    $.getJSON('/jigus',d=>{
        alert('목록 들어옴')
        const list = d.list
        let i = 0
        let tr =''
        for(; i<list.length; i++){
            tr += '<tr>'
        +'<td class="text-center" >'+list[i].writerId+'</td>'
        +'<td class="text-center"><a class="title" id="'+list[i].jiguNum+'" href="#">'+list[i].title+'</a></td>'
        +'<td class="text-center"> '+list[i].content+'</td>'
        +'<td class="text-center">'+list[i].regDate+'</td>'
        +'<td class="text-center">'+list[i].count+'</td>'
        +'<td class="text-center">'+list[i].jiguNum+'</td>'
        +'</tr>'
        }
        $('#tb').html(tr)
        $('.title').each(function(i){
            $(this).click(e=>{
                e.preventDefault()
                alert(`${i} 번의 ID: ${this.id}`)
                    localStorage.setItem('key',`${this.id}`)
                     location.href = '/move/jigus/detail'
            })
    
    })
})
    
</script>
</html>